body, html{
    width: 100%;
    height: 100%;
    color:#8f8f8f;
    font-size: 16px;
    background-color: #202020;
    
}

.contenedor{
    background-color: #202020;
    margin: 2px;
    border: 0px solid #c3c3c3;
}

.formulario{
    border: 0px solid #c3c3c3;
    padding-bottom: 30px;
}
.icon{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    border: 0px solid #c3c3c3;
}
.logo{
    width: 130px;
    border: 0px solid #c3c3c3;
}

.redes{
    display: flex;
    border: 0px solid #c3c3c3;
    justify-content: space-around;
    margin-bottom: 30px;
}

.cuadro{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}

.cuadro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 13px;
    width: 30%;
}


.cuadro.face{
    background-color: #4267b2;
}
.cuadro.google{
    background-color: #ffffff;
}
.cuadro.ps4{
    background-color: #02b3e8;
}
.cuadro.xbox{
    background-color: #117411;
}
.cuadro.switch{
    background-color: #e60012;
}

h3{
    text-transform: uppercase;
    font-size: 13px;
    color: white;
}

input{
    text-indent: 15px;
    outline:none;
    border-width:0px;
    border:none;
    font-size: 16px;
}

.textbox{
    background-color: #2b2b2b;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: white;
}

.textbox:focus{
    background-color: #484848;
}

.flex-check{
    display:flex;
    justify-content: space-between;
}
.flex-check .first{
    display: inline-block;
    align-self: center;
}


button{
    background-color: #191919;
    border-width:0px;
    border:none;
    text-transform: uppercase;
    font-weight: bold;
    color:#8f8f8f;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 12px;
}
.info{
    text-align: center;
    justify-content: center;
}
.same{
    display: flex;
    justify-content: center;
    height: 30px;
}
.same p{
    margin-left: 2px;
    margin-right: 2px;
}

.blanco{
    color: white;
}


.footer {
    width: 100%;
    background-color: darkred;
    color: white;
    text-align: center;
    font-size: 14px;
}


/*MEDIA QUERY*/
@media(min-width:768px){
    body, html{
    background-color: #121212;
    color:#8f8f8f;
}
    .fondo{
        margin: auto;
        width: 50%;
        border: 0px solid green;
        padding: 0px;
    }
    .formulario{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .contenedor{
        margin-top: 3rem;
    }
    
   .icon{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
    
}